html {
	height: 100%;
	width: 100%;
	min-width: 320px;
}
body {
	height: 100%;
	width: 100%;
	background: #D3C9CE
}
#nav {
	position: fixed;
	height: 50px;
	width: 100%;
	bottom: -20px;
	border-right: solid 5px black;
		background: #793F0D;
		z-index: 1;
}
#nav:hover {
	bottom: 0px;
	height: 200px;
}
#nav-list {
 list-style-type: none;
 padding: 0px;
}
.nav-item {
	width: 100%;
	min-width: 85px;
	max-width: 200px;
	margin-top: 30px;
	border-bottom: solid 5px black;
	border-bottom-left-radius: 5px;
	background: #AC703D;
}
.activeNav {

	background: #c38E63;
}
a {
	text-decoration: none;
	color: black;
}
#middle {
	text-align: center;
	width: 90%;
	max-width: 534px;
	min-height: 100%;
	margin: auto;
}
.swapped-body-content {
	display: none;
	min-width: 90%;
	min-height: 250px;
}
#profile-picture-holder {
	margin: auto;
	width: 90%;
	max-width: 534px;
}
#profile-picture {
	margin: auto;
	width: 90%;
	max-width: 534px;
}
#intro {
	margin-left: 32px;
	margin-right: 32px;
}
.social {
margin-top: 32px;
margin-left: 32px;
margin-right: 32px;
border-bottom: 2px solid black;
display: block;
}
.project {
float: left;
width: 200px;
margin-top: 34px;
margin-left: 32px;
margin-right: 32px;
}
.project-picture {
	width: 50%;
	max-width: 400px;
	min-width: 200px;
}
.template {
	display: none;
}
@media only screen and (min-width: 641px) {
	#nav {
		position: fixed;
		width: 20%;
		min-width: 85px;
		max-width: 200px;
		height: 100%;
		border-right: solid 5px black;
			background: #793F0D;
			z-index: 1;
	}
	#nav-list {
	 list-style-type: none;
	 padding: 0px;
	}
	.nav-item {
		width: 100%;
		min-width: 85px;
		max-width: 200px;
		margin-top: 30px;
		border-bottom: solid 5px black;
		border-bottom-left-radius: 5px;
		background: #AC703D;
	}
}
